@import '../variables.css';

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--neutral-2);
  color: var(--neutral-5);
  font-size: var(--h);
  font-family: var(--system-font);
  line-height: var(--lh);
}

@media print {
  body {
    line-height: var(--print-lh);
    color: #000;
    background: none;
    font-size: var(--print-h);
  }

  @page {
    margin: 1.5cm 1.5cm 2cm;
    padding: 0;
  }
}