@import '../variables.css';

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--neutral-2);
  color: var(--neutral-5);
  font-size: var(--h);
  font-family: var(--system-font);
  line-height: var(--lh);
}

@media print {
  body {
    line-height: var(--print-lh);
    color: #000;
    background: none;
    font-size: var(--print-h);
  }

  @page {
    size: A4;
    margin: 2.5cm 2cm 3cm !important;
    padding: 0;
    @bottom-left {
      content: 'SparcIt'
    }
  }
}
