@import '../variables.css';

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--neutral-2);
  color: var(--neutral-5);
  font-size: var(--h);
  font-family: var(--system-font);
  line-height: var(--lh);
}