@import '../variables.css';

.r0 {
  border-radius: 0;
}

.r1 {
  border-radius: var(--r1);
}

.r2 {
  border-radius: var(--r2);
}

.border {
  border: 1px solid currentColor;
}

.border-top {
  border-top: 1px solid currentColor;
}

.border-left {
  border-left: 1px solid currentColor;
}

.border-right {
  border-right: 1px solid currentColor;
}

.border-bottom {
  border-bottom: 1px solid currentColor;
}

.border-y {
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
}

.border-neutral-2 {
  border-color: var(--neutral-2);
}

.border-neutral-3 {
  border-color: var(--neutral-3);
}

.border-neutral-4 {
  border-color: var(--neutral-4);
}

.border-secondary-1 {
  border-color: var(--secondary-1);
}

.border-lrb {
  border-top: 0;
}

.br-0 {
  border-right: 0;
}

.r1-r {
  border-top-right-radius: var(--r1);
  border-bottom-right-radius: var(--r1);
}

.r1-l {
  border-top-left-radius: var(--r1);
  border-bottom-left-radius: var(--r1);
}

.r1-t {
  border-top-left-radius: var(--r1);
  border-top-right-radius: var(--r1);
}

.r1-b {
  border-bottom-right-radius: var(--r1);
  border-bottom-left-radius: var(--r1);
}
