.btn {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  height: auto;
  border: 0;
  background-color: transparent;
  color: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font: inherit;
  font-weight: inherit;
  line-height: inherit;
  cursor: pointer;
  -webkit-appearance: none;
}

.btn:focus {
  z-index: 1;
  outline: 0;
}

.btn:focus:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid var(--secondary-1);
  border-radius: inherit;
}

.btn:active {
  box-shadow: var(--inset-shadow);
}

.btn:hover {
  text-decoration: none;
  cursor: pointer;
}

.btn[disabled] {
  opacity: .5;
}

.btn[disabled]:active {
  box-shadow: none;
}

.btn-h3 {
  /* 16px font-size 32px target height */
  font-size: var(--h3);
  line-height: calc(36 / 16)rem;
  padding: 0 calc(24 / 16)rem;
}

.btn-h4 {
  font-size: var(--h4);
  line-height: calc(24 / 16)rem;
  padding: 0 calc(4 / 16)rem;
}

.btn-neutral-1 {
  background-color: var(--neutral-1);
  border-radius: var(--r1);
}

.btn-neutral-2 {
  background-color: var(--neutral-2);
  border-radius: var(--r1);
}

.btn-neutral-3 {
  background-color: var(--neutral-3);
  border-radius: var(--r1);
}

.btn-primary-1 {
  background-color: var(--primary-1);
  border-radius: var(--r1);
}

.btn-secondary-2 {
  color: var(--neutral-1);
  background-color: var(--secondary-2);
  border-radius: var(--r1);
}

.btn-joined {
  padding-top: var(--u);
  padding-bottom: var(--u);
  line-height: var(--lh3);
  flex-grow: 1;
  flex-basis: 0;
}

.btn-joined:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  border: 1px solid var(--neutral-3);
}

.btn-selected {
  color: var(--neutral-0);
  background-color: var(--secondary-1-2);
}

.btn-selected:before {
  border-color: var(--secondary-1-2);
}

.btn-selected-neutral {
  border-color: var(--neutral-3);
  z-index: 1;
  background-color: var(--neutral-3);
}

.btn-circle {
  border-radius: 50%;
}
