@import '../variables.css';

.card-container-1,
.card-container-2 {
  margin: auto;
  padding-left: var(--card-container-px);
  padding-right: var(--card-container-px);
  max-width: calc(var(--card-maxwidth-1 + 2 * var(--card-container-px)));
}

.card-container-2 {
  min-width: calc(var(--card-maxwidth-1 + 2 * var(--card-container-px)));
  max-width: calc(var(--card-maxwidth-2 + 2 * var(--card-container-px)));
}

.card {
  padding: var(--card-py) var(--card-px);
  border-radius: var(--r2);
  background-color: var(--neutral-1);
}

@media (--mobile-m) {
  .card-container-1,
  .card-container-2 {
    padding-left: var(--card-container-px--mobile-m);
    padding-right: var(--card-container-px--mobile-m);
    max-width: calc(var(--card-maxwidth-1 + 2 * var(--card-container-px--mobile-m)));
  }
  .card-container-2 {
    min-width: calc(var(--card-maxwidth-1 + 2 * var(--card-container-px--mobile-m)));
    max-width: calc(var(--card-maxwidth-2 + 2 * var(--card-container-px--mobile-m)));
  }
  .card {
    padding: var(--card-py--mobile-m) var(--card-px--mobile-m);
  }
}

@media (--mobile-l) {
  .card-container-1,
  .card-container-2 {
    padding-left: var(--card-container-px--mobile-l);
    padding-right: var(--card-container-px--mobile-l);
    max-width: calc(var(--card-maxwidth-1 + 2 * var(--card-container-px--mobile-l)));
  }
  .card-container-2 {
    min-width: calc(var(--card-maxwidth-1 + 2 * var(--card-container-px--mobile-l)));
    max-width: calc(var(--card-maxwidth-2 + 2 * var(--card-container-px--mobile-l)));
  }
  .card {
    padding: var(--card-py--mobile-l) var(--card-px--mobile-l);
  }
}

@media (--tablet) {
  .card-container-1,
  .card-container-2 {
    padding-left: var(--card-container-px--tablet);
    padding-right: var(--card-container-px--tablet);
    max-width: calc(var(--card-maxwidth-1 + 2 * var(--card-container-px--tablet)));
  }
  .card-container-2 {
    min-width: calc(var(--card-maxwidth-1 + 2 * var(--card-container-px--tablet)));
    max-width: calc(var(--card-maxwidth-2 + 2 * var(--card-container-px--tablet)));
  }
  .card {
    padding: var(--card-py--tablet) var(--card-px--tablet);
  }
}

@media print {
  .card {
    background: transparent;
    padding: 0;
  }
  .card-container,
  .card-container-2 {
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 100% !important;
  }
}
