@import '../variables.css';

.neutral-3 {
  color: var(--neutral-3);
}

.neutral-4 {
  color: var(--neutral-4);
}

.neutral-5 {
  color: var(--neutral-5);
}

.secondary-2 {
  color: var(--secondary-2);
}

.secondary-3 {
  color: var(--secondary-3);
}

.bg-opaque-secondary-2 {
  background: color(var(--secondary-2) a(8%));
}

.bg-opaque-secondary-1 {
  background: color(var(--secondary-1) a(8%));
}

.bg-neutral-0 {
  background: var(--neutral-0);
}

.bg-neutral-2 {
  background: var(--neutral-2);
}
