.input-container {
  position: relative;
  border-radius: var(--r1);
}

.input {
  position: relative;
  display: block;
  margin: 0;
  width: 100%;
  border: 0;
  border-radius: var(--r1);
  background-color: transparent;
  color: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font: inherit;
  font-size: var(--h3);
  font-weight: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  padding: calc(6 / 16)rem calc(12 / 16)rem;
  box-sizing: border-box;
  z-index: 1;
}

.input-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background-color: var(--neutral-0);
  box-shadow: var(--inset-shadow);
  border: 1px solid var(--neutral-3);
}

.input:focus {
  outline: 0;
}

.input:focus + .input-backdrop {
  border: 2px solid var(--secondary-1);
}

.input[readonly] + .input-backdrop {
  box-shadow: none;
}

.input[disabled],
.input[disabled] + .input-backdrop {
  opacity: .5;
}
