.input {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 0;
  max-width: 100%;
  height: auto;
  border: 1px solid var(--neutral-3);
  box-shadow: var(--inset-shadow);
  color: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font: inherit;
  font-weight: normal;
  line-height: inherit;
  -webkit-appearance: none;
  background: var(--neutral-0);
  border-radius: var(--r1);
  padding: calc(2 * var(--u) - 1px) calc(3 * var(--u) - 1px);
}

.input:focus {
  outline: 0;
  z-index: 1;
  box-shadow: var(--inset-shadow), var(--outline);
  border: 0;
  padding: calc(2 * var(--u)) calc(3 * var(--u));
}

.input[disabled] {
  opacity: .5;
}
