.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.inline-block {
  display: inline-block;
}

.vertical-align-middle {
  vertical-align: middle;
}

.block {
  display: block;
}

.full-width {
  width: 100%;
}

.w-half {
  width: 50%;
}

.overflow-hidden {
  overflow: hidden;
}

.display-none {
  display: none;
}

.width-auto {
  width: auto;
}
