@import '../variables.css';

.link {
  text-decoration: none;
  color: var(--secondary-1-2);
  display: inline-block;
  border: 0;
}

.link:focus,
.link:active,
.link:active:focus {
  outline: 0;
  border-radius: var(--r1);
  box-shadow: var(--outline2);
}

.link:focus .underline {
  border: 0;
}
