@import '../variables.css';

.m0 {
  margin: 0;
}
.m-u {
  margin: var(--u);
}
.m-semi {
  margin: var(--semi-lh);
}
.m-lh {
  margin: var(--lh);
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mr-0 {
  margin-right: 0;
}
.ml-0 {
  margin-left: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.mt-0 {
  margin-top: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}
.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mr-u {
  margin-right: var(--u);
}
.ml-u {
  margin-left: var(--u);
}
.mb-u {
  margin-bottom: var(--u);
}
.mt-u {
  margin-top: var(--u);
}

.mx-u {
  margin-left: var(--u);
  margin-right: var(--u);
}
.my-u {
  margin-top: var(--u);
  margin-bottom: var(--u);
}

.mr-semi {
  margin-right: var(--semi-lh);
}
.ml-semi {
  margin-left: var(--semi-lh);
}
.mb-semi {
  margin-bottom: var(--semi-lh);
}
.mt-semi {
  margin-top: var(--semi-lh);
}

.mx-semi {
  margin-left: var(--semi-lh);
  margin-right: var(--semi-lh);
}
.my-semi {
  margin-top: var(--semi-lh);
  margin-bottom: var(--semi-lh);
}

.mr {
  margin-right: var(--lh);
}
.ml {
  margin-left: var(--lh);
}
.mb {
  margin-bottom: var(--lh);
}
.mt {
  margin-top: var(--lh);
}

.mx {
  margin-left: var(--lh);
  margin-right: var(--lh);
}
.my {
  margin-top: var(--lh);
  margin-bottom: var(--lh);
}

.mb-h1-h2 {
  margin-bottom: calc(4 / 16)rem;
}

.mb-h2-h3 {
  margin-bottom: calc(8 / 16)rem;
}
