@import '../variables.css';

.mb-u {
  margin-bottom: var(--u);
}

.mb {
  margin-bottom: var(--lh);
}

.mb-double {
  margin-bottom: calc(var(--lh) * 2);
}

.mb-semi {
  margin-bottom: var(--semi-lh);
}

.ml {
  margin-left: var(--lh);
}

.ml-semi {
  margin-left: var(--semi-lh);
}

.mr {
  margin-right: var(--lh);
}

.mr-semi {
  margin-right: var(--semi-lh);
}

.mx-semi {
  margin-left: var(--semi-lh);
  margin-right: var(--semi-lh);
}

.mt {
  margin-top: var(--lh);
}

.mt-semi {
  margin-top: var(--semi-lh);
}

.mt-u {
  margin-top: var(--u);
}

.my {
  margin-top: var(--lh);
  margin-bottom: var(--lh);
}

.my-semi {
  margin-top: var(--semi-lh);
  margin-bottom: var(--semi-lh);
}

.mb0 {
  margin-bottom: 0;
}