@import '../variables.css';

.pt-u {
  padding-top: var(--u);
}

.pt-semi {
  padding-top: var(--semi-lh);
}

.pt {
  padding-top: var(--lh);
}

.py-semi-u {
  padding-top: calc(var(--u) / 2);
  padding-bottom: calc(var(--u) / 2);
}

.px-u {
  padding-right: var(--u);
  padding-left: var(--u);
}

.px-semi {
  padding-right: var(--semi-lh);
  padding-left: var(--semi-lh);
}

.px {
  padding-right: var(--lh);
  padding-left: var(--lh);
}

.py-u {
  padding-top: var(--u);
  padding-bottom: var(--u);
}

.py-semi {
  padding-top: var(--semi-lh);
  padding-bottom: var(--semi-lh);
}

.py {
  padding-top: var(--lh);
  padding-bottom: var(--lh);
}

.py0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-double {
  padding-top: calc(var(--lh) * 2);
  padding-bottom: calc(var(--lh) * 2);
}

.py-input {
  padding-top: calc(2 * var(--u));
  padding-bottom: calc(2 * var(--u));
}

.p {
  padding: var(--lh);
}

.p-semi {
  padding: var(--semi-lh);
}

.p-u {
  padding: var(--u);
}

.pr {
  padding-right: var(--lh);
}

.pl {
  padding-left: var(--lh);
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.pb {
  padding-bottom: var(--lh);
}

.pb-u {
  padding-bottom: var(--u);
}

.pb-semi {
  padding-bottom: var(--semi-lh);
}

.pr-semi {
  padding-right: var(--semi-lh);
}

.pl-semi {
  padding-left: var(--semi-lh);
}

.p0 {
  padding: 0;
}
