@import '../variables.css';

.p0 {
  padding: 0;
}

.p-u {
  padding: var(--u);
}

.p-semi {
  padding: var(--semi-lh);
}

.p-lh {
  padding: var(--lh);
}

.pr-0 {
  padding-right: 0;
}
.pl-0 {
  padding-left: 0;
}
.pb-0 {
  padding-bottom: 0;
}
.pt-0 {
  padding-top: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pr-u {
  padding-right: var(--u);
}
.pl-u {
  padding-left: var(--u);
}
.pb-u {
  padding-bottom: var(--u);
}
.pt-u {
  padding-top: var(--u);
}

.px-u {
  padding-left: var(--u);
  padding-right: var(--u);
}
.py-u {
  padding-top: var(--u);
  padding-bottom: var(--u);
}

.pr-semi {
  padding-right: var(--semi-lh);
}
.pl-semi {
  padding-left: var(--semi-lh);
}
.pb-semi {
  padding-bottom: var(--semi-lh);
}
.pt-semi {
  padding-top: var(--semi-lh);
}

.px-semi {
  padding-left: var(--semi-lh);
  padding-right: var(--semi-lh);
}
.py-semi {
  padding-top: var(--semi-lh);
  padding-bottom: var(--semi-lh);
}

.pr {
  padding-right: var(--lh);
}
.pl {
  padding-left: var(--lh);
}
.pb {
  padding-bottom: var(--lh);
}
.pt {
  padding-top: var(--lh);
}

.px {
  padding-left: var(--lh);
  padding-right: var(--lh);
}
.py {
  padding-top: var(--lh);
  padding-bottom: var(--lh);
}

.py-input {
  /* calc(12 / 16)rem */
  padding-top: calc(6 / 16)rem;
  padding-bottom: calc(6 / 16)rem;
}
