@import '../variables.css';

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.h1,
h1 {
  font-size: var(--h1);
  font-family: var(--heading-family);
  line-height: var(--lh1);
}

.h2,
h2 {
  font-size: var(--h2);
  font-family: var(--heading-family);
  line-height: var(--lh2);
}

.h3,
h3 {
  font-size: var(--h3);
  line-height: var(--lh3);
}

.h4,
h4,
.h5,
h5,
.h6,
h6 {
  font-size: var(--h4);
  line-height: var(--lh4);
}

.lh {
  line-height: var(--lh);
}

p {
  font: inherit;
  margin: 0 0 var(--lh);
  padding: 0;
}

ul {
  margin: 0;
  padding: 0 0 0 var(--lh);
}
