@import '../variables.css';

.viewport {
  position: relative;
  min-height: 100vh;
}

.viewportBody {
  width: 100%;
}

.modal {
  display: none;
}

.modal-isActive .viewport {
  overflow: hidden;
}

.modal-isActive .viewportBody {
  top: 0;
  left: 0;
  position: absolute;
}

.modal-isActive .modal {
  display: block;
  position: relative;
  z-index: 9999;
  min-height: 100vh;
  background-color: color(var(--neutral-5) a(50%));
}
