@import '../variables.css';

.viewport {
  position: relative;
  min-height: 100vh;
}

.viewport-body {
  width: 100%;
  transform: translate3d(0, 0, 0);
  -webkit-font-smoothing: subpixel-antialiased;
}

.modal {
  display: none;
}

.show-modal .viewport {
  overflow: hidden;
}

.show-modal .viewport-body {
  top: 0;
  left: 0;
  position: absolute;
}

.show-modal .modal {
  display: block;
  position: relative;
  z-index: 9999;
  min-height: 100vh;
  background-color: color(var(--neutral-5) a(50%));
}

.modal-inactive,
.show-modal .modal-inactive {
  display: none;
}

.modal-escape-hatch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
