:root {
  --u: .25rem; /* 4px */

  /* Font-families */
  --system-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  --heading-family: 'Merriweather Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  /* Type scale */
  --h1: calc(25 / 16)rem;
  --lh1: calc(32 / 16)rem;

  --h2: calc(21 / 16)rem;
  --lh2: calc(28 / 16)rem;

  --h3: calc(16 / 16)rem;
  --lh3: calc(24 / 16)rem;

  --h4: calc(13 / 16)rem;
  --lh4: calc(20 / 16)rem;

  --print-h1: 15pt;
  --print-lh1: 16pt;

  --print-h2: 12pt;
  --print-lh2: 16pt;

  --print-h3: 9pt;
  --print-lh3: 12pt;

  --print-h4: 7pt;
  --print-lh4: 12pt;

  /* Default type sizes */
  --h: var(--h3);
  --lh: var(--lh3);

  --semi-lh: calc(var(--lh) / 2);

  --print-h: var(--print-h3);
  --print-lh: var(--print-lh3);

  --print-semi-lh: calc(var(--print-lh) / 2);

  /* Colors */
  --neutral-0: #fff;
  --neutral-1: #fafafa;
  --neutral-2: #eaeef0;
  --neutral-3: #d6d9db;
  --neutral-4: #7e7f82;
  --neutral-5: #272729;
  --primary-1: #fad86c;
  --primary-2: #fab505;
  --secondary-1: #6ba9fa;
  --secondary-2: #fa6b6b;
  --secondary-3: #5dc74f;
  --secondary-1-2: #5877cc;

  /* Other units */
  --r1: 3px;
  --r2: .5rem;

  /* card maximum width */
  --ct-card-maxwidth: 48rem;

  /* card */
  --card-maxwidth-1: 48rem; /* 768px */
  --card-maxwidth-2: 64rem; /* 1024px */

  --card-px: calc(5 * var(--u));
  --card-py: calc(5 * var(--u));
  --card-px--mobile-m: calc(8 * var(--u));
  --card-py--mobile-m: calc(6 * var(--u));
  --card-px--mobile-l: calc(12 * var(--u));
  --card-py--mobile-l: calc(9 * var(--u));
  --card-px--tablet: calc(16 * var(--u));
  --card-py--tablet: calc(12 * var(--u));
  --card-container-px: .5rem;
  --card-container-px--mobile-m: 1rem;
  --card-container-px--mobile-l: 1.5rem;
  --card-container-px--tablet: 2rem;

  --drop-shadow: 0px 8px 16px 4px rgba(51, 50, 71, 0.08), 0px 24px 24px -16px rgba(41, 41, 46, 0.44);
  --drop-shadow-1: 0px 8px 16px 4px rgba(51, 50, 71, 0.08), 0px 24px 24px -16px rgba(41, 41, 46, 0.44);
  --drop-shadow-2: 0 1px 2px color(var(--neutral-5) a(20%));
  --drop-shadow-3: 0px 1px 8px rgba(51, 50, 71, 0.2);
  --inset-shadow: inset 0 1px 2px color(var(--neutral-5) a(20%));
  --outline: 0 0 0 1px var(--secondary-1);
  --outline2: 0 0 0 2px var(--secondary-1);
}

@custom-media --mobile-s (min-width: 320px);
@custom-media --mobile-m (min-width: 375px);
@custom-media --mobile-l (min-width: 425px);
@custom-media --tablet (min-width: 768px);
@custom-media --laptop (min-width: 1024px);
@custom-media --laptop-l (min-width: 1440px);
@custom-media --4k (min-width: 2560px);
