:root {
  /* Size unit */
  --u: .25rem; /* 4px */

  /* Type scale */
  --h1: calc(6.25 * var(--u)); /* 25px */
  --h2: calc(5.25 * var(--u)); /* 21px */
  --h3: calc(4 * var(--u));    /* 16px */
  --h4: calc(3.25 * var(--u)); /* 13px */

  --lh1: calc(8 * var(--u));   /* 32px */
  --lh2: calc(7 * var(--u));   /* 28px */
  --lh3: calc(6 * var(--u));   /* 24px */
  --lh4: calc(5 * var(--u));   /* 20px */

  --print-h1: 15pt;
  --print-h2: 12pt;
  --print-h3: 9pt;
  --print-h4: 7pt;

  --print-lh1: 16pt;
  --print-lh2: 16pt;
  --print-lh3: 12pt;
  --print-lh4: 12pt;

  /* Defaults */
  --h: var(--h3);
  --lh: var(--lh3);

  --print-h: var(--print-h3);
  --print-lh: var(--print-lh3);

  /* constraints */
  /* 45 to 75 characters - ideal for reading */
  --ct-h1-minwidth: calc(.8 * var(--h1) * 40);
  --ct-h1-maxwidth: calc(.8 * var(--h1) * 75);
  --ct-h2-minwidth: calc(.8 * var(--h2) * 40);
  --ct-h2-maxwidth: calc(.8 * var(--h2) * 75);
  --ct-h3-minwidth: calc(.8 * var(--h3) * 40);
  --ct-h3-maxwidth: calc(.8 * var(--h3) * 75);
  --ct-h4-minwidth: calc(.8 * var(--h4) * 40);
  --ct-h4-maxwidth: calc(.8 * var(--h4) * 75);
  /* card maximum width */
  --ct-card-maxwidth: 48rem;

  /* Font-families */
  --system-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --heading-font: 'Merriweather Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  /* Colors */
  --neutral-0: #FFF;
  --neutral-1: #FAFAFA;
  --neutral-2: #EAEEF0;
  --neutral-3: #D6D9DB;
  --neutral-4: #7E7F82;
  --neutral-5: #272729;

  --primary-1: #FAD86C;
  --primary-2: #FAB505;

  --secondary-1: #6BA9FA;
  --secondary-2: #FA6B6B;
  --secondary-3: #5DC74F;

  /* Other units */
  --r1: 3px;
  --r2: .5rem;
}

@custom-media --mobile-s (min-width: 320px);
@custom-media --mobile-m (min-width: 375px);
@custom-media --mobile-l (min-width: 425px);
@custom-media --tablet (min-width: 768px);
@custom-media --laptop (min-width: 1024px);
@custom-media --laptop-l (min-width: 1440px);
@custom-media --4k (min-width: 2560px);